<!-- extraction_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Most Popular Books</title>

    <style>
        .image-container {
            text-align: left;  /* Align the image to the right */
        }

        .book-image {
            max-width: 100%;
            height: auto;
            margin-right: 10px;
        }
    </style>
</head>
<body>

{% for row in data %}
    <p><br>ISBN: {{ row.ISBN }}</br>
        <br> Title: <strong>{{ row.Book_Title }}</strong></br>
        <br> Author: {{ row.Book_Author }}</br>
        <br> Year: {{ row.Year_Of_Publication }}</br>
        <br> Publisher: {{ row.Publisher }}</br>
    </p>
    <div class="image-container">
        <p><img src="{{ row.Image_URL_M }}" alt="{{ row.Book_Title }}" class="book-image"></p>
    </div>
    <p>Book Rating: {{ row.Book_Rating_x }}</p>
    <hr>
{% endfor %}

</body>
</html>




